<div class="box">
    <div class="game-info">
        <p class="description">{{soloClassicGame.description}}</p>
        <p class="description">{{soloClassicGame.difficulty}</p>
        <p class="description">{{soloClassicGame.mode}}</p>
        <p class="description">{{soloClassicGame.nbHints}}</p>
        <p class="description">{{soloClassicGame.hintsPenalty}}</p>
        <div class="image-stats-container">
            <div class="info-icon">
                <img src=".\assets\img\info-icon.png" class="info-icon" alt="gameInfoIcon"/>
            </div>
        </div>
</div>


