.container {
    display: flex;
    justify-content: center;
    border: solid;
    border-color: rgb(228, 228, 0);
    border-radius: 5%;

    width: max-content;
    height: auto;
    padding: 10px;
}