.container {
    width: max-content;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    transition: 0.3s;
    font-size: 1.7vh;
    letter-spacing: 0.1vw;
    padding: 10px;
    border: solid;
}
