/* You can add global styles to this file, and also import other style files */

html,
body {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: lightblue;
    height: 1080;
    width: 1920;

    // Disable user selection
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}

.center{
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.font-size {
    font-size: 1.5vh;
}

.not-implement {
    cursor: not-allowed;
}



