<head>
    <meta charset="UTF-8" />
    <title>Jeu classic</title>
</head>
<body>
    <div class="center-row header">
        <app-quit-button></app-quit-button>
        <h1 class="titre">Jeu classique</h1>
        <app-hint></app-hint>
    </div>

    <div class="center-column difference-container">
        <div class="center-row data-container">
            <app-found-hints-counter></app-found-hints-counter>
            <div class="timer-container">
                <app-timer></app-timer>
            </div>
        </div>

        <app-info-card class="info-card"></app-info-card>

        <div class="center-row canvas-container">
            <canvas #originalImage width="640px" height="480px"></canvas>
            <canvas #modifiedImage width="640px" height="480px"></canvas>
        </div>

        <app-chat></app-chat>
    </div>
</body>
