.header {
    height: 15vh;
    width: 100%;
}

h1 {
    font-size: 5vh;
    margin-right: 7vw;
}

.difference-container {
    height: 100%;
    width: 100%;
}


// Canvas CSS
.canvas-container {
    margin-right: 6vw;
}

canvas {
    width: 640px;
    height: 480px;
    background-color: whitesmoke;
    border: solid;
}

.data-container {
    width: 1280px;
    margin-right: 6vw;
}

.hints-container {
    margin-right: 24vw;
}

.timer-container {
    margin-bottom: 1.5vw;
}

.error-message {
    display: none;
    position: absolute;
    color: red;
    font-weight: 600;

    cursor: default;
}

.chat-container {
    position: absolute;
    bottom: 21vh;
    right: 0vw;
}

.cheat-mode {
    height: auto;
    padding: 10px;

    border-radius: 10px;
    border: solid;

    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    font-size: 1.7vh;
    letter-spacing: 0.1vw;
}