<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
</head>
<body>
    <section class="header">
        <div>
            <h1 id="mode">Jeu classique</h1>
            <img src=".\assets\img\hints-icon.png" id="hints-icon" alt="gameHintsIcon" />
            <img src=".\assets\img\exit-icon.png" id="exit-icon" alt="gameExitIcon" />
        </div>
    </section>
    <section class="footer">
        <div>
            <img src=".\assets\img\info-icon.png" id="info-icon" alt="gameInfoIcon" />
        </div>
    </section>
</body>
