<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
</head>
<body>
    <section class="header">
        <app-back-button [btnType] = "btnType"></app-back-button>
        <app-hint></app-hint>
        <h1 class="button-style titre">Jeu classique</h1>
    </section>
    <section class="difference-container">
        <app-found-hints-counter></app-found-hints-counter>
        <app-images-area></app-images-area>
        <app-timer [init]="timeInSeconds"></app-timer>
    </section>
    <section>
        <app-info-card></app-info-card>
    </section>

</body>