body {
    justify-content: center;
    align-items: center;
    border: solid yellow; 
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border:solid red; 

    height: 20vh;
    width: 100%;
}

.difference-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre {
    font-size: 5vh;
}
