body {
    display: flex;
    flex-direction: column;

    max-height: 100vh;
    background-color: lightblue;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 20vh;
}

.difference-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titre {
    font-size: 5vh;
}
