<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
</head>
<body>
    <Section class="header">
        <button class="button-style return-button" routerLink="">
            <img src=".\assets\img\previous-icon.png" id="previousIcon" alt="gameLogo" />Retour
        </button>
        <a routerLink=""><img src=".\assets\img\game-icon.png" id="gameIcon" alt="gameLogo" /></a>
    </Section>

    <section class="selection-container">
        <div class="previous-arrow">
            <div class="previous-arrow-top"></div>
            <div class="previous-arrow-bottom"></div>
        </div>
        <div class="sub-container">
            <div class="box">
                <div class="game-buttons">
                    <p class="description">Jeux 1</p>
                    <div class="overlay">
                        <button class="button-style button-1" routerLink="/registration">Jouer</button>
                        <button class="button-style button-2">Rejoindre</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="game-buttons">
                    <p class="description">Jeux 2</p>
                    <div class="overlay">
                        <button class="button-style button-1" routerLink="/registration">Jouer</button>
                        <button class="button-style button-2">Rejoindre</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-container">
            <div class="box">
                <div class="game-buttons">
                    <p class="description">Jeux 3</p>
                    <div class="overlay">
                        <button class="button-style button-1" routerLink="/registration">Jouer</button>
                        <button class="button-style button-2">Rejoindre</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="game-buttons">
                    <p class="description">Jeux 4</p>
                    <div class="overlay">
                        <button class="button-style button-1" routerLink="/registration">Jouer</button>
                        <button class="button-style button-2">Rejoindre</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="next-arrow">
            <div class="next-arrow-top"></div>
            <div class="next-arrow-bottom"></div>
        </div>
    </section>
</body>
