<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="center-column info-container">
    <div class="center-row title">
        <span class="material-symbols-outlined icon"> info </span>
        <p>Informations</p>
    </div>
    <div>
        <p><strong>Mode : </strong> {{ info.mode }}</p>
        <p><strong>Niveau :</strong> {{ info.difficulty }}</p>
        <p><strong>N° d'indices : </strong> {{ info.nbHints }}</p>
        <p><strong>Pénalité d'erreur</strong> {{ info.hintsPenalty }} s</p>
    </div>
</div>
