.info-container {
    width: 10vw;
    overflow: hidden;

    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    border:solid;
    border-radius: 10px;
}


.icon {
    margin-right: 1vw;
    scale: 1.3;
}

.title {
    letter-spacing: 0.09vw;
    font-size: 18px;
}
