<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="flex-column center info-container">
    <div class="flex-row center title">
        <span class="flex-row center material-symbols-outlined icon"> info </span>
        <p>Informations</p>
    </div>
    <div>
        <p class="font-size"><strong>Mode : </strong> Classic solo</p>
        <p class="font-size"><strong>Niveau :</strong> {{ this.difficulty }}</p>
        <p class="font-size"><strong>N° d'indices : </strong> 3</p>
        <p class="font-size"><strong>Pénalité d'erreur : </strong> 5 s</p>
    </div>
</div>
