<p># {{ debugDisplayMessage.getValue() }}</p>
<p><img id="image-preview" width="640px" height="480px" /></p>
<input type="file" id="browseButton1" name="imageToSend1" accept=".bmp" />
<input type="file" id="browseButton2" name="imageToSend2" accept=".bmp" />
<label for="radiusInput">Radius :</label>
<input type="number" id="radiusInput" name="radiusInput" />
<p>--</p>
<p>
    <button class="button" (click)="sendImageToServer()">Send Image</button>
    <button class="button" routerLink="/">Home</button>
</p>
