<p># {{ debugDisplayMessage.getValue() }}</p>
<p><img id="image-preview" width="640px" height="480px" /></p>
<input type="file" id="browseButton1" name="imageToSend1" accept=".bmp" />
<input type="file" id="browseButton2" name="imageToSend2" accept=".bmp" />
<label for="radiusInput">Radius :</label>
<input type="number" id="radiusInput" name="radiusInput" />
<p id="gameNameField">
    GAME NAME : <input type="text" id="gameName" name="gameName" /> <button class="button" (click)="sendGameAndNameToServer()">pls Send Name</button>
</p>
<p>--</p>
<p>
    <button class="button" (click)="sendImageToServer()">Send Image</button>
    <button class="button" routerLink="/">Home</button>
</p>
<p>
    <label for="gameId">Game ID :</label>
    <input type="number" id="gameId" name="gameId" />
    <label for="pixelToCheckPositionX">Pixel to check position :</label>
    <input type="number" id="pixelToCheckPositionX" name="pixelToCheckPositionX" />
    <input type="number" id="pixelToCheckPositionY" name="pixelToCheckPositionY" />
</p>
<p>
    <button class="button" (click)="getGames()">Retrieve games</button>
    <button class="button" (click)="getGame()">Retrieve a game</button>
    <button class="button" (click)="showImagesForRetrievedGames()">Display images (click retrieve games first)</button>
    <button class="button" (click)="getDifferenceIndex()">Get difference index</button>
</p>
<p><button class="button" (click)="deleteAllGames()">DELETE EVERYTHING (BEGONE)</button></p>
<div *ngFor="let game of games">
    <p>id: {{ game.gameData.id }}</p>
    <p>Name: {{ game.gameData.name }}</p>
    <p>Number of differences: {{ game.gameData.nbrDifferences }}</p>
    <p>{{ game.originalImage.length }}</p>
</div>
