<div class="game-card">
    <div class="description-container">
        <div class="title-container">
            <div class="title">{{ title }}</div>
            <div class="difficulty">
                <div>Difficulté :</div>
                <div [ngStyle]="{ color: getDifficultyColor(difficulty) }">{{ '&nbsp;' + difficulty }}</div>
            </div>
        </div>
        <div class="content-container">
            <img src="./assets/img/original-picture.png" class="original-picture" alt="original-picture" />
            <div class="classement">Classement</div>
        </div>
    </div>
    <app-overlay> </app-overlay>
</div>
