
body {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  max-width: 100vw;
  background-color: lightblue;
}

.button-style {
  font-weight: 600;
  font-size: 1.7vh;
  letter-spacing: 0.1vw;

  border-radius: 2vw;
  border: solid 0.3vh;

  padding: 1vh 2vh;

  background-color: white;

  cursor: pointer;

  &:hover {
      transform: scale(0.9);
      background-color: lightsalmon;
  }
}

h1 {
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50vh;
  margin-top: 10px;
}

.header {
  height: 15vh;
}

.projectLogo {
  position: absolute;
  top: 0px;
  right: 16px;
  font-size: 18px;
}

.return-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  margin: 2vw;

  background-color: white;

  border: solid;

  cursor: pointer;

  &:hover {
      transform: scale(0.9);
      background-color: lightsalmon;
  }
}

.return-button #previousIcon {
  height: 2vh;
  margin-right: 10px;
}

.creation-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

  canvas {
    width: 100%;
    height: 100%;
  }

.row {
  display: flex;
  align-items: right;
  flex-wrap: wrap;
}

.steps-container {
  align-items: center;
  width: 50%;
  height: 70%;
}

.difference-canvas {
  align-items: center;
  width: 100%;
  height: 100%;
border: 1px solid black;
}
.original-canvas, .modified-canvas {
  align-items: center;
  width: 40%;
  height: 100%;
border: 1px solid black;
}

.in-progress {
  
  border: 2px solid;
  border-color: lightsalmon;
}

.completed {
  border: 2px solid;
  border-color: green;
}
// .upcoming {
//   display: none;
// }

