.button-style {
  display: flex;

  font-weight: 600;
  font-size: 1.7vh;
  letter-spacing: 0.1vw;

  border-radius: 2vw;
  border: solid 0.3vh;

  padding: 1vh 2vh;

  background-color: white;

  cursor: pointer;

  scale: 0.7;

  &:hover {
      transform: scale(0.9);
      background-color: lightsalmon;
  }
}

.display{
  display:none;
}

.center{
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  // border: solid; 

}

h1 {
  font-weight: 800;
  font-size: 40px;
}

.main-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 60vh;

  border: solid blue;
}





// Canvas CSS
.canvas-container {
  display: flex;
  flex-direction: column;

  border: solid orange;
}

.canvas {
  width: 640px;
  height: 480px;
  border: solid;
  background-color: whitesmoke;
}

.picture-option{
  display: flex;
  flex-direction: row;
  scale: 0.9;

  border:solid brown; 
}

.optionIcon{
  scale: 1.5;

  margin-right: 10px;
}



.middle-container {
  display: flex;
  flex-direction: column;

  border: solid blueviolet
  
}

.main-options {
  display: flex;
  flex-direction: column;

  border: solid yellow; 
}

.reverse-controle {
  display: flex;
}




// .creation-options {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }


  

// .row {
//   display: flex;
//   align-items: right;
//   flex-wrap: wrap;
//   border: solid green; 
// }

// .steps-container {
//   align-items: center;
//   width: 50%;
//   height: 70%;
// }

// .difference-canvas {
//   align-items: center;
//   width: 100%;
//   height: 100%;
// border: 1px solid black;
// }
// .original-canvas, .modified-canvas {
//   align-items: center;
//   width: 40%;
//   height: 100%;
// border: 1px solid black;
// }

// .in-progress {
  
//   border: 2px solid;
//   border-color: lightsalmon;
// }

// .completed {
//   border: 2px solid;
//   border-color: green;
// }
// // .upcoming {
// //   display: none;
// // }

