<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src=".\assets\img\ProjectLogo.png" alt="Logo Projet" width="400" height="400" />
    <section id="server-message" class="justified">
        <p>Petit message du serveur : {{ message.getValue() }}</p>
        <div class="justified">
            <!-- <button class="button" (click)="getMessagesFromServer()">Récupérer un message du serveur</button>
            <button class="button" (click)="sendTimeToServer()">Envoyer un message au serveur</button>
            <button class="button" routerLink="/material">Voir la page démo Angular Material</button> -->
            <button class="button" routerLink="/classic">Mode Classique</button>
            <button class="button" routerLink="/time-limit">Mode Temps Limité</button>
            <button class="button" routerLink="/config">Configuration</button>
        </div>
    </section>

    <button class="button" routerLink="/game">Jouer!</button>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 203</h4>
        <p>
            <span>Maxime Aspros</span>, <span>Ahmed Ben Rhouma</span>, <span>Ibrahim Boulahchiche</span>, <span>Théo Gapihan</span>,
            <span>Gabriel Louka </span>,<span>Marie-Jade Marcil</span>
        </p>
    </footer>
</div>
