/* Règles Générales */

body {
    display: flex;
    flex-direction: column;

    max-height: 100vh;
    background-color: lightblue;
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 1.7vh;
    letter-spacing: 0.1vw;

    border-radius: 2vw;
    border: 0.3vh;

    padding: 2vh 4vh;
}

/* Icon style */
.logoContainer {
    display: flex;
    justify-content: center;
}

.logoContainer #gameIcon {
    width: 40vh;
    height: 40vh;
}

.logoContainer #configIcon {
    position: absolute;
    margin: 2vh;
    top: 0vh;
    right: 0vh;
    height: 10vh;

    &:hover {
        transform: scale(0.9);
    }
}

/* Button style */

.navBarContainer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 50vh;
}

.button {
    margin: 3vw;
    padding: 2vh 8vh;
    background-color: white;

    border: solid;

    cursor: pointer;

    &:hover {
        transform: scale(0.9);
        background-color: lightsalmon;
    }
}

/* Credit style */
.footer-item {
    display: flex;
    flex-direction: column;
    text-align: center;

    height: 10vh;
}

.team-number {
    margin-top: 1.5vh;
    font-size: 1.5vh;
}

.dev-team {
    display: flex;
    flex-direction: row;

    margin-left: 15vw;
    margin-right: 15vw;

    justify-content: space-evenly;

    font-size: 1.5vh;
}
