/* regles générales */
.bigger {
    font-size: 1.5vh;
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 1.7vh;
    letter-spacing: 0.1vw;

    background-color: white;

    border-radius: 2vw;
    border: solid;

    padding: 2vh 8vh;
    margin: 3vw;

    cursor: pointer;

    &:hover {
        transform: scale(0.9);
        background-color: lightsalmon;
    }
}


/* Icon style */
.logoContainer {
    display: flex;
    justify-content: center;
}

.logoContainer #gameIcon {
    width: 40vh;
    height: 40vh;
}

.logoContainer #configIcon {
    position: absolute;
    margin: 2vh;
    top: 0vh;
    right: 0vh;
    height: 10vh;

    &:hover {
        transform: scale(0.9);
    }
}

/* Button style */
.navBarContainer {
    height: 50vh;
}

/* Credit style */
.footer-item {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.dev-team {
    justify-content: space-evenly;

    margin-left: 15vw;
    margin-right: 15vw;
}
