<head>
    <meta charset="UTF-8" />
    <title>Mismatch Mania</title>
</head>

<body>
    <section class="logoContainer">
        <div>
            <img src=".\assets\img\game-icon.png" id="gameIcon" alt="gameLogo" />
        </div>
        <div>
            <a routerLink="/parameter"><img src=".\assets\img\config-icon.png" id="configIcon" alt="gameLogo" /></a>
        </div>
    </section>

    <div class="navBarContainer">
        <button class="button-style button" routerLink="/selections">Mode Classique</button>
        <button class="button-style button">Mode Temps Limité</button>
    </div>

    <footer class="footer-item">
        <h4 class="team-number">Équipe 203</h4>
        <div class="dev-team">
            <span>Maxime Aspros</span>
            <span>Ahmed Ben Rhouma</span>
            <span>Ibrahim Boulahchiche</span>
            <span>Théo Gapihan</span>
            <span>Gabriel Louka </span>
            <span>Marie-Jade Marcil</span>
        </div>
    </footer>
</body>