<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Page de Configurations</title>
</head>

<body>
    <app-back-button></app-back-button>
    <header class="flex-row center">
        <h1>Paramètres généraux</h1>
        <div class="flex-row config-btn">
            <button class="button-style" routerLink="/creation">Créer un jeu</button>
            <button class="button-style" routerLink="/config">Configurations des jeux</button>
        </div>
    </header>

    <div class="flex-row center main-container">
        <div class="flex-column center const-container">
            <p class="title"><b> Constantes de jeu</b></p>
            <div class="flex-row">
                <button class="button-style flex-row center const-btn not-allowed">
                    <span class="material-symbols-outlined option-icon"> device_reset </span>
                    Mettre à défault les constantes
                </button>
                <button class="button-style flex-row center const-btn not-allowed">
                    <span class="material-symbols-outlined option-icon"> save </span>
                    Sauvegarder les constantes
                </button>
            </div>
        </div>

        <div class="history-container">
            <div class="flex-row center">
                <p class="title"><b> Historique des parties jouées </b></p>
                <button class="button-style delete-btn center not-allowed">
                    <span class="material-symbols-outlined option-icon"> delete </span>
                </button>
            </div>

            <div class="history-board flex-column center">
                <p>Leaderboards will be here !</p>
            </div>
        </div>
    </div>
</body>
