body {
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 0;
    height: 15vh;
    width: 100%;
}

.game-btn {
    font-weight: 600;
    font-size: 1.7vh;
    letter-spacing: 0.1vw;
    position: relative;
    border-radius: 2vw;
    border: solid 0.3vh;
    float: right;
    padding: 2vh 4vh;
    top: 0;
    left: 0;
    margin: 2vw;
    float: right;

    background-color: white;

    cursor: pointer;

    &:hover {
        transform: scale(0.9);
        background-color: lightsalmon;
    }

    margin-left: 5px;
}

.header #gameIcon {
    width: 15vh;
    height: 15vh;
}

.container {
    width: 85vw;
    height: 85vh;
}
