.img-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10%;
    align-content: center;
}

.image {
    border: solid; 
    width: 640px;
    height: 480px;
    padding: 10px;
    
}


