.img-container {
    display: flex;
    position:absolute;
    flex-direction: row;
    align-content: center;
    top: 40vh;
    left: 10%;
}

.original .difference {
    border: solid; 
    width: 640px;
    height: 480px;   

}


#good  {
    display: flex;
    margin: 20px;
}

