<div class="img-container">
    <div class="original">
        <div class="image">
            <div id="good">
                <img src=".\assets\img\original-picture.png" height="480px" width="640px" class="original-icon" alt="gameLogo" />
            </div>
        </div>
    </div>
    <div class="difference">
        <div class="image">
            <div id="good">
                <img src=".\assets\img\original-picture.png" height="480px" width="640px" class="original-icon" alt="gameLogo" />
            </div>
        </div>
    </div>
</div>
