<div class="flex-row center overlay">
    <button *ngIf="isPlayable" class="button-style" (click)="createSoloGame()">Jouer</button>
    <button *ngIf="isPlayable" class="button-style" (click)="matchToJoinIfAvailable ? joinGame() : createOneVersusOneGame()">
        {{ matchToJoinIfAvailable ? 'Rejoindre' : 'Creer' }}
    </button>
    <button *ngIf="!isPlayable" class="button-style not-allowed">Supprimer</button>
    <button *ngIf="!isPlayable" class="button-style not-allowed">Réinitialiser</button>
</div>
