
.hint-container {
    display: flex;
    position: absolute;

    width: 20vh;
    height: 20vh;
    top: 0;
    right: 0;

}

.hint-icon {
    display: flex;
    position: absolute;
    background-color: white;

    border: solid;
    border-radius: 50%;
    height: 15vh;
    width: auto;
    top: 0;
    right: 0;
    margin: 2vh 4vh;
}

.nbHints {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    margin:3vh 7vh;
}