<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
</head>

<body>
    <Section class="header">
        <button class="button-style return-button" (click)="previousPage()">Retour</button>
        <a id="projectLogo"><img src=".\assets\img\game-icon.png" alt="Logo Projet" width="180" height="180" /></a>
        <div class="btn">
            <button class="game-btn">Créer un jeu</button>
            <button class="game-btn" (click)="deleteButton()">Supprimer les jeux</button>
            <button class="game-btn" (click)="resetButton()">Réinitialiser les jeux</button>
        </div>
    </Section>

    <section class="selection-container">
        <div class="previous-arrow">
            <div class="previous-arrow-top"></div>
            <div class="previous-arrow-bottom"></div>
        </div>

        <div class="sub-container" *ngFor="let game of games">
            <app-game-sheet *ngIf="game" [singleGame]="game"></app-game-sheet>
        </div>


        <div class="next-arrow">
            <div class="next-arrow-top"></div>
            <div class="next-arrow-bottom"></div>
        </div>
    </section>

</body>