<div class="box">
    <div class="game-buttons">
        <p class="description">{{singleGame.description}}</p>
        <div class="image-stats-container">
            <div class="image-show">
                <!-- <img src={{ singleGame.imagePath }} alt="Logo" width="200" height="200" /> -->
            </div>
            <div class="stats-box">
                <p class="difficulty">Difficulty : {{ singleGame.difficulty }}</p>
                Rang :
                <div class="ranking-box" *ngFor="let player of singleGame.ranking">
                    <p *ngIf="player.name && player.score">{{player.name}} : {{player.score}}</p>
                </div>
            </div>
        </div>
    </div>
</div>