.box {
    // border: 2px solid red;
    width: 100%;
    height: 100%;
    overflow: auto;
    border:2px solid black;
    border-radius: 10px;
}
.btn-container{
    text-align: center;
}

.btn{
    border-radius: 10px;
    border: solid;
    background-color: white;
    margin-left: 14%;
    
    cursor: pointer;

    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    $transition-time: 0.15s;

    &:hover {
        transform: translateX(-45%) translateY(-50%) scale(0.9);
        background-color: lightsalmon;
    }
}
.description {
    text-align: center;
}

.game-buttons {
    // border: 1px solid yellow;
    height: 90%;
}

.image-stats-container {
    justify-content: space-around;
    // border: 1px solid orange;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.image-show {
    background-color: white;
    width: 50%;

}

.stats-box {
    border: 2px solid black;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}
