.previous-arrow {
    position: absolute;
    border-radius: 20vh;
    border: solid;

    height: 15vh;
    width: 2.2vw;
    top: 57%;
    left: 2.5vw;
    background-color: white;

    cursor: pointer;

    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    $transition-time: 0.15s;

    &:hover {
        transform: translateX(-55%) translateY(-50%) scale(0.9);
        background-color: lightsalmon;
    }
}
.previous-arrow-bottom {
    background-color: black;
    height: 4px;
    right: -5px;
    position: absolute;
    top: 47%;
    width: 100%;
    transform: rotate(-45deg);
    transform-origin: top left;
}

.previous-arrow-top {
    background-color: black;
    height: 4px;
    right: -5px;
    position: absolute;
    top: 45%;
    width: 100%;
    transform: rotate(45deg);
    transform-origin: bottom left;
}
